body {
	/*line-height: 1;*/
	font-family: Arial, sans-serif;
	margin: 0;
	text-rendering: optimizeLegibility;
	background-color: #1a1a1a;
    text-align: center;
}

h1 {
	font-size: 28px;
}

p {
	font-size: 14px;
	line-height: 18px;
	color: #666;
}

img {
	display: block;
	max-width: 170px;
	max-height: 60px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}


#source {
	font-size: 10px;
	font-family: Arial;
}

.links {
	stroke-width: 1px;
	fill: none;
	opacity: .6;
}

.node {
	cursor: pointer;
}

.char-death-link {
	stroke-width: 1px;
	fill: none;
}

.circle-text-dim {
	opacity: .2;

}

.circle-text-highlight {
	font-weight: bold;
	opacity: 1;
}

.circle-text {
	font-size: 11px;
	font-family: Arial;
	cursor: pointer;
}

.highlight {
	font-weight: bold;
}

.showlink {
	stroke: red;
}

#node-name {
	font-family: Georgia;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 5px;
}

#node-info {
	width: 175px;
}

.node-char {
	float: left;
	width: 100%;
	padding: 3px 0;
    z-index: 100;
	border-top: 1px solid #ccc;
}

.node-char-tags {
	float: left;
	width: 100%;
	padding: 3px 0;
}

.node-label {
	width: 40%;
	float: left;
	font-size: 11px;
	line-height: 11px;
	font-family: Arial;
	font-weight: bold;
}

.node-data, .node-data-short, .node-data-full, .node-data-wide {
	width: 60%;
	float: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
	line-height: 11px;
	text-align: left;
}

.node-data-full {
	width: 100%;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ccc;

}

.node-data-short {
	width: 30%;
}

.node-data-color {
	float: left;
	height: 10px;
	width: 7%;
	margin-right: 3%;
}

.node-data-wide {
	float: left;
	width: 85%;
	margin-right: 3%;
	text-transform: lowercase;

}

.node-list-item {
	width: 100%;
	float: left;
}

.gis-popup {
  pointer-events: auto;
  padding: 6px 6px 6px 6px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #bbb;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #fefefe;
  position: absolute;
  z-index: 1;
  display: none;
}

.option-text {
	font-family: Georgia;
	font-size: 16px;
	width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	float: left;
}

.detail-text {
	font-size: 11px;
	line-height: 12px;
	margin-right: 10px;
	float: left;
	width: 100%;
	color: #666;
}

.callout-chart {
	width: 100%;
	float: left;
}

.callout-chart-large {
	width: 100%;

}

.bar {
	cursor: pointer;
	stroke: #fff;
	stroke-width: 1px;
}

.bar-label {
	fill: #000;
	font-size: 11px;
}

.bar-label-pct {
	fill: #333;
	font-size: 10px;
}

.bar-highlight {
	fill: #ccc;
}

.link { 
    display: block;
    z-index: 20;
    background:none; 
    border:none; 
}

#anchored-charts {
	padding-top: 100px;
	width: 200px;
	position: absolute;
}

.anchored-chart {
	float: left;
	margin-bottom: 50px;
}

#chart-game-audience {
	float: left;
}

#chart-house {
	width: 180px;
	float: left;
}

.chart-detail {
	position: absolute;
	width: 100px;
}

.chart-detail p {
	font-size: 11px;
	line-height: 12px;
}